{% extends 'base.html' %}

{% block content %}
<div class="col-xl-10">
    <h3>Live now</h3>
    {% if streams %}
        <div class="card-deck">
        {% for stream in streams %}
            <div class="card" style="max-width: 17rem;">
                <a href="{% url 'stream' stream.user.username %}">
                    <img class="card-img-top" src="{{ stream.thumbnail_url }}" alt="Thumbnail">
                </a>
                <div class="card-body">
                    <a href="{% url 'stream' stream.user.username %}">
                        <h5>{{ stream.user.username }}</h5>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p>Sorry, no-one is currently streaming!</p>
    {% endif %}
</div>
{% endblock %}
