{% extends 'base.html' %}

{% block top-margin %}{% endblock %}

{% block content %}
<div class="container-fluid video-container">
    <div class="row justify-content-md-center">
        {% if stream %}
        <div class="col-xl-8">
            <!-- only muted autoplay is allowed in browsers -->
            <div class="video-overlay d-flex justify-content-center align-items-center" onClick="unmute(this); return false;">Click to unmute</div>
            <video id="video-player" controls muted autoplay></video>
            <script>
                if (flvjs.isSupported()) {
                    var element = document.getElementById('video-player');
                    var flvPlayer = flvjs.createPlayer({
                        type: 'flv',
                        isLive: true,
                        url: '{{ stream.flv_url }}'
                    });
                    flvPlayer.attachMediaElement(element);
                    flvPlayer.load();
                    flvPlayer.play();

                    setTimeout(function() {
                        console.log('timeout');
                        var overlayElement = document.querySelector('.video-overlay')
                        overlayElement.style.visibility = 'hidden';
                    }, 3000);
                }

                function unmute(overlayElement) {
                    var videoElement = document.getElementById('video-player');
                    videoElement.muted = false;
                    overlayElement.style.visibility = 'hidden';
                }
            </script>
        </div>
        {% else %}
        <div class="col-md-4 alert alert-secondary">
            Stream not found
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
