{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-md-center">
        {% if stream %}
        <div class="col-xl-8">
            <h5>Watching {{ stream.user.username }}</h5>
        </div>

        <div class="col-xl-8">
            <!-- only muted autoplay is allowed in browsers -->
            <div class="video-overlay d-flex justify-content-center align-items-center" onClick="unmute(this); return false;">Click to unmute video</div>
            <video id="video-player" controls muted autoplay></video>
            <script>
                if (flvjs.isSupported()) {
                    var element = document.getElementById('video-player');
                    var flvPlayer = flvjs.createPlayer({
                        type: 'flv',
                        isLive: true,
                        url: '{{ stream.flv_url }}'
                    });
                    flvPlayer.attachMediaElement(element);
                    flvPlayer.load();
                    flvPlayer.play();
                }

                function unmute(overlayElement) {
                    var videoElement = document.getElementById('video-player');
                    videoElement.muted = false;
                    overlayElement.style.visibility = 'hidden';
                }
            </script>
        </div>
        {% else %}
        <div class="col-md-4 alert alert-secondary">
            Stream not found
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
