{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-md-center">
        {% if stream %}
        <div class="col-xl-8">
            <!-- only muted autoplay is allowed in browsers -->
            <video id="video-player" controls muted autoplay></video>
            <script>
                if (flvjs.isSupported()) {
                    var element = document.getElementById('video-player');
                    var flvPlayer = flvjs.createPlayer({
                        type: 'flv',
                        isLive: true,
                        url: '{{ stream.flv_url }}'
                    });
                    flvPlayer.attachMediaElement(element);
                    flvPlayer.load();
                    flvPlayer.play();
                }
            </script>
        </div>
        {% else %}
        <div class="col-md-4 alert alert-secondary">
            Stream not found
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
