{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-xl-10">
            {% if stream %}
            <!-- only muted autoplay is allowed in browsers -->
            <video id="video-player" class="img-fluid" controls autoplay muted></video>
            <script>
                if (flvjs.isSupported()) {
                    var element = document.getElementById('video-player');
                    var flvPlayer = flvjs.createPlayer({
                        type: 'flv',
                        isLive: true,
                        url: '{{ stream.flv_url }}'
                    });
                    flvPlayer.attachMediaElement(element);
                    flvPlayer.load();
                    flvPlayer.play();
                }
            </script>
            {% else %}
            <div class="alert alert-info">
                Stream not found
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
