.navbar-brand .material-icons {
    font-size: 1.0rem;
    color: #1678b3;
}

video {
    display: block;
    width: 100%;
}

.video-container {
    background-color: rgba(0, 0, 0, 0.8);
}

.video-overlay {
    width: calc(100% - 30px);
    height: 100%;
    z-index: 10;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    cursor: pointer;
}

.card-deck .card {
    max-width: 17rem;
}

.card-deck .card-body {
    padding: 0.5rem;
}
